@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: sans-serif;
}

.h2Styles {
    font-weight: 700;
    font-size: 1.25rem;
  
    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }
  